.wrapper {
    font-size: 10px;
    color: #666;
    padding: 25px;
  }
  
  svg {
    overflow: visible;
  }
  
  text {
    fill: gainsboro;
    color: gainsboro;
    font-size: 10px;
  }
  
  .subtitle text {
    text-decoration: underline;
    font-size: 12px;
  }
  
  .axis .domain,
  .axis.xAxis line {
    display: none;
  }