html
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ul_head {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.li_head {
  float: left;
}

.li_head a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.li_head a:hover {
  background-color: #111111;
}

.li_head_rt {
  float: right;
  width: 105px
}

.ul_head_blu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #03033d;
}

.li_head_blu {
  float: left;
}

.li_head_blu a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.li_head_blu a:hover {
  background-color: #070791;
}

.ul_head_prpl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3d0219;
}

.li_head_prpl {
  float: left;
}

.li_head_prpl a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.li_head_prpl a:hover {
  background-color: #851741;
}
/*le style du cercle qui sert de zone pour déposer le carré*/
.dropzone {
	width: 80%;
	height: 800px;
	border-radius: 1%;
	right: 0;
	left: 0;
	margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-grow: 100;
}
.dropzone_blk {
  background-color: gray;
}
.dropzone_prpl {
  background-color: rgb(242, 192, 242);
}
.dropzone_blu {
  background-color: rgb(163, 213, 241);
}

/*le cercle change de couleur quand le carré est déplacé*/
.drop-active {
  background-color: #55c6bf;
}

/*on ajoute une bordure au cercle quand le carré survol celui-ci*/
.drop-target {
	border: 15px solid #FC6E5E;
}


/*le carré change de couleur quand il survol le cercle*/
.drag-drop {
	width:auto;
	height:auto;
  color: #fff;
  transition: background-color 0.3s;
	text-align: center;
	transition: border-radius .1s;
	mix-blend-mode: difference;
  border-radius: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.drag-drop_blk {
  background-color: gray;
}
.drag-drop_prpl {
  background-color: rgb(242, 192, 242);
}
.drag-drop_blu {
  background-color: rgb(163, 213, 241);
}


.drag-drop.can-drop {
  color: #000;
  background-color: #FC6E5E;
}

/*le carré devient un cercle*/
.drop-ok {
	border-radius:10%;
}


@media screen and (max-width: 750px) {
	.dropzone {
		width: 300px;
		height: 300px;
		margin-top: 20%;
	}
	
	.drag-drop {
	width: 90px;
	height: 90px;
	}
}

.parent {
  display: flex;
  width: 90%;
  margin-left:1%;
  margin-top:1%;
  clear: both;
}

.narrow {
  width: 10%;
  height: 100%;
  background: rgb(255, 255, 255);
  float: left;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}
.wide{
  flex: 1;
}
.wide > input{
  height: 100px;
  width: 80px;
}
.vertical-row {
  Float:left;
  width:10px; /* edit this if you want */
 }
 .horizontal-row{
  height:10px; /* edit this if you want */
 }
 .wrapper {
  padding: 0.1%;
  height: auto;
}
.div1 {
  float: left;
  width:60%;
  max-height:90%;
  border: 1px solid rgb(108, 106, 106);
  position: absolute;
  border-radius: 0.5%;
  overflow-y:auto;
}
.div2 {
  left:61%;
  width:18%;
  height:80%;
  position: absolute;
  border-radius: 1%;
}
.div3 {
  left:81%;
  width:18%;
  height:80%;
  position: absolute;
  border-radius: 1%;
}
.div4 {
  top:75%;
  left:61%;
  width:38%;
  height: 30%;
  position: absolute;
  border-radius: 1%;
}
.inner1{
  font-size: medium;
  height: 75%;  
  overflow-y:auto;
  border-radius: 0.5%;
  border-bottom:1px solid rgb(108, 106, 106);
}
.inner2{
  text-align: center;
  background-color: gray;
  border-radius: 1%;
}
.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-bottom: #333333;
  vertical-align: middle;
}
.Column {
  display: table-cell;
  border: 1px solid rgb(108, 106, 106);
  text-align: center;
  vertical-align: middle;
}
.DivHeader_blk{
height: 40px;
vertical-align: middle;
background-color: #333333;
color: white;
}
.DivHeader_blu{
  height: 40px;
  vertical-align: middle;
  background-color: #03033d;
  color: white;
  }
  .DivHeader_prpl{
    height: 40px;
    vertical-align: middle;
    background-color: #3d0219;
    color: white;
    }
  
    .wrapper_chart {
      font-size: 5px;
      color: #666;
      padding: 25px;
    }
    
    svg {
      overflow: visible;
    }
    
    text {
      fill: gainsboro;
      color: gainsboro;
      font-size: 10px;
    }
    
    .subtitle text {
      text-decoration: underline;
      font-size: 5px;
    }
    
    .axis, .axis path {
      fill: none;
      stroke: #c4c4ca;
    }
    text {
      stroke: none;
      fill: #1a1919;
      font-size: 12px;
    }
    .tooltip{
      font-size: 12px;
      background-color: white;
      border:solid;
      border-width: 0.5px;
      border-radius: 5px;
      padding: 7px;      
      opacity: 0.9;
      color: black;
      z-index: 100;
    }
    .line_label{
      font-size: 12px;
    }
    .modalbox{
      font-size: 12px;
      background-color: white;
      border:solid;
      border-width: 0.5px;
      border-radius: 5px;
      padding: 10px;;      
      opacity: 0.9;
    }
    .modalbox button{
      align-items: center;
      font-size: 12px;
      color: #c4c4ca;
      width: 100px;
      height: 25px;
      background-color: rgb(2, 1, 51);
      border-width: 0.5px;
      border-radius: 5px;
    }
    .closeModal {
      float:right;
      display:inline-block;
      padding:2px 5px;
      background:#ccc;
  }
  #outer-grid {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

  }
  #outer-grid > div {

    color: white;
    font-size: 4vw;
  }
  .inner-grid.prpl{
    background-color: #f8dee8;
  }
  .inner-grid.blu{
    background-color: #d2d3f7;
  }
  .inner-grid.blk{
    background-color: #cdcdd3;
  }
  @media screen and (max-width: 2000px) {
    .inner-grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      overflow-y:auto ;
      overflow-x: hidden;      
      height: 90vh;
      border-radius: 5px;
    }
    .inner-grid > div {
      padding-left: 20px;
    }
    .inner-grid>* {
      flex: 1 1 80px;
    }
  }

  @media screen and (max-width: 1200px) {
    .inner-grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      overflow-y:auto ;
      overflow-x: hidden;
      height: 90vh;
    }
    .inner-grid > div {
      padding-left: 20px;
    }
    .inner-grid>* {
      flex: 1 1 80px;
    }
  }
  
  
  .line1 .crosshair {
    fill: none;
    stroke-width: 1px;
  }
  .line1 #crosshairX {
    stroke: #c4c4ca;
    opacity: 0.70;
  }
  .line1 #crosshairY {
    stroke: #c4c4ca;
    opacity: 0.70;
  }

  .ChartHeader {
    color: #070791;
    font-size: 15px;
  }
  .ToolTipText_M{
    font-size: 14px;
    font-weight: bold;
    background-color: blue;
  }
  .ToolTipText_N{
    font-size: 12px;
    font-weight:normal;
  }

.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
}  
.flex-child:first-child {
    margin-right: 20px;
}
.flex-child.controlplane{
  padding-top: 20px;
}

.Duration{
  width: 90%;
  height: 30px;
  background-color: rgb(10, 88, 233);
  color: whitesmoke;
  align-items: center;
}

.SMA_DROP{
  width: 90%;
  height: 30px;
  background-color: rgb(5, 43, 114);
  color: whitesmoke;
  align-items: center;
}

.SMA_TEXT{
  font-size: 12px;
  color: whitesmoke;
}

.flex-container_control {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
.sector{
  padding: 5px;
  font-size: 10px;
  font-weight:bold;
  background-color: rgb(181, 207, 247);
  text-align: center;
  border-radius: 5px;
}
.sector:hover {
  cursor: pointer;
}
.listStocks{
  padding: 2px;
  background-color: rgb(186, 206, 243);
  width: 90%;
  padding-bottom: 5px;
}
.listStocks:hover {
  cursor: pointer;
}
.headerListStocks{
  align-content: center;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
}
.sectorstocks{
  width: 100%;
}

.Controlpanel{
  background-color:#1E90FF;
  position: fixed;
  right: 0;
  width: 3%;
  height: 5%;
  border-radius: 30%;
  transition: width 0.5s;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Controlpanel:hover{
  background-color:	#1E90FF;
  padding: 20px;
  position: fixed;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 5px;
  transition: width 0.5s;
  opacity: 90%;
}

.ControlpanelPrice{
  background-color: #1E90FF;
  position: fixed;
  right: 0;
  width: 3%;
  height: 5%;
  border-radius: 40%;
  transition: width 0.5s;
  right: 1%;
  z-index: 100;
}

.ControlpanelPriceOpen{
  background-color:	#1E90FF;
  padding: 20px;
  position: fixed;
  right: 0;
  width: 300px;
  height: 90%;
  border-radius: 5px;
  transition: width 0.5s;
  opacity: 90%;
  z-index: 100;
}

.arrow-5 {
  width:10px;
  height:10px;
  display: grid;
  overflow: hidden;
}
.arrow-5:before,
.arrow-5:after {
  content: "";
  grid-area: 1/1;
  background: rgb(3, 3, 80);
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: a5 1s infinite;
  transform: translate(calc(0% + var(--s,0%)));
}

.arrow-5:after {
  --s:-100%;
}

@keyframes a5 {
  80%,100%{transform: translate(calc(100% + var(--s,0%)))}
}

.loadmore {
  font-size:"12px";
  color:"blue"
}
.loginmaindiv{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.loginDiv{
  font-style: italic;
  padding: 3%;
  border-radius: 5px;
  background-color: #55c6bf;
}

/* Mobile Devices */
@media (max-width: 480px) {
  .flex-container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    align-content: center;
  }
  .flex-container2 > div {
    max-width: 300px;
    height: 250px;
    margin: 40px;  
  }
}
      
/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
  .flex-container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    align-content: center;
  }
  .flex-container2 > div {
    min-width: 400px;
    height: 250px;
    margin: 40px;  
  }
}
      
/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px){
  .flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 5px;
  }
  .flex-container2 > div {
    width: 500px;
    height: 300px;
    margin-right: 80px;  /* and that, will result in a 10px gap */
    margin-bottom: 50px;
  }
}
  
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
  }
  .flex-container2 > div {
    width: 400px;
    height: 250px;
    margin-right: 80px;  /* and that, will result in a 10px gap */
    margin-bottom: 20px;
  }
}
  
/* Big boi Monitors */
@media (min-width: 1281px) {
  .flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
  }
  .flex-container2 > div {
    width: 525px;
    height: 300px;
    margin-right: 80px;  /* and that, will result in a 10px gap */
    /*margin-bottom: 50px;*/
    border-color:3px, rgb(10, 88, 233);
    border: 3px;
  }
}

.SecPerfHeader{
  text-align: center;
  color: blue;
  font-size: small;
}

.field_set_charts{
  border-style: ridge;
  border-color: rgba(0,0,255,0.25);
  border-style: solid;
  border-width: 0.5px;
}
.textOnPositions{
  font-style: italic; 
}

.stockDetails-enter {
  opacity: 0.01;  
  transform: scale(0.9) translateY(50%);
}
.stockDetails-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.stockDetails-enter-done {
  width: 95%;
  border-radius: 5px;
  padding: 10px;
}

.stockDetails-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.stockDetails-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}

.companyDetails-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.companyDetails-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 500ms ease-out;
}
.companyDetails-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.companyDetails-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 500ms ease-out;
}

.simpleGrid{
  color:"dimgray";
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font:icon;
  margin-bottom: 10px;
  border-bottom: 1px solid #a0b7f5;
  border-bottom-width: "10px";
}

.news0{
  background: #F0FFFF;
  padding: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #c2bff3;
  margin: 2px;
}
.news1{
  background: #F0FFFF;
  padding: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #c2bff3;
  margin: 2px;
}

.ChartSelections{
  display: flex;
  width: 90%;
  height: 20px;
}
.ChartSelectionsDiv{
  font-size: 12px;
  text-align:center;
}
.ChartSelectionsDiv:hover{
  background-color: wheat;
  cursor: pointer;
}
.PredictionMainDiv{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.PredictionColDiv{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.validStock{
  background-color: rgb(10, 139, 10);
  height: 30px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.invalidStock{
  background-color: rgb(128, 0, 11);
  height: 30px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.Pred_Drop_Down{
  width: 200px;
  height: 30px;
  background-color: rgb(10, 88, 233);
  color: whitesmoke;
  align-items: center;
}

.FloatController{
  z-index: 10;  
  position: fixed;
  top: 10%;
  right: 10px;  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(10, 88, 233);
}
.FloatController:hover{
  position: fixed;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(198, 202, 198);
}

.FloatControllerDiv{
  padding: 20px;
  position: fixed;
  right: 0;
  max-height: 90%;
  transition: width 0.5s;
  z-index: 10;  
}

.ControlPanelDiv{
  background-color:	#1E90FF;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  transition: width 0.5s;
  opacity: 90%;
  z-index: 100;
}
.CloseFloatController{
  position: absolute;
  left: 0;  
  z-index: 10000;
}
.ToolTipXLabel{
  font-size: 12px; 
  fill: rgb(236, 27, 44);
}
.newsClip{
  display:block;
  font-size: 14px;
  font-family:courier, courier new, serif;
  border: 1px solid #a6adf0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.legendNews{
  float:right;
  border: 1px solid #f7c398;
}

.StraightXLine{
  stroke: #db1949; 
  opacity: 0.20;
}

.StraightXLineLabel{
  color: #2c19db;
}
.barChart-container {
  column-gap: 1rem; /* increase gap between each column */
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.barChart-container .column {
  margin-bottom: 1rem;
}

.BadgeNotificationsContent{
  background-color:	#95c4f3;
  padding: 20px;
  position: fixed;
  right: 0;
  width: 400px;
  height: 90%;
  border-radius: 5px;
  transition: width 0.5s;
  z-index: 1000;
}