.sectormaint{
    padding-top: 10px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.sectormaint > div{
    font-size: 15px;
}
.sectormaint > fieldset{
    padding: 10px;
}

.sectorinput{
    font-size: 15px;
    height: 30px;
    text-align: center;
    font-weight:500;
    border-color: rgb(24, 85, 4);
}

.sectorinputnew{
    font-size: 15px;
    height: 30px;
    text-align: center;
    font-weight:500;
    border-color: rgb(147, 6, 50);
}

.sectorbutton {
    border-color: rgb(147, 6, 50);
    width: 100px;
    vertical-align: bottom;
}
.sectordelete {
    display: block;
    float: right;
    margin-left: 10px;
    text-align: center;
    font-style: normal;
    color: rgb(244, 76, 76);
    cursor: pointer;
  }
  .stockdelete {
    margin-left: 5px;
    text-align: center;
    font-style: normal;
    cursor: pointer;
    color: crimson;
  }
  .sectorprocessing {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(218, 244, 211, 0.5);
    color: rgb(21, 21, 22);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 70px;
  }